<%- include("partials/header") %>

<div class="container">
    <h1>Coffee with Sweet Small Something</h1>

    <p>Welcome to our collection of best coffee/dessert places in Greater Seattle Area. Explore, share, collect them all!</p>

    <a href="/cafes">View all coffee stops</a>
</div>

<%- include("partials/footer") %>